{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="tab-pane fade in active" id="tab1">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <h3 class="heading-lead center">Login Your Account</h3>
                <form class="form-signup" action="" method="post">
                    <div class="form-results"></div>
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <button type="submit" class="btn btn-alt">Log In</button>
                    <span class="gaps"></span>
                    <p class="small">Not registered? <a href="{% url 'signup' %}">Register here</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}