{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Banner/Slider -->
<div class="page-head section row-vm light">
	<div class="imagebg">
		<img src="{% static 'img/page-inside-bg.jpg' %}" alt="page-head">
	</div>
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h2>About Us</h2>
				<div class="page-breadcrumb">
					<ul class="breadcrumb">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li class="active"><span>About Us</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- #end Banner/Slider -->
</header>

<!--Section -->
<div class="section section-pad">
	<div class="container">
		<div class="row row-vm">
			<div class="col-md-5 res-m-bttm">
				<div class="text-block">
					<h2>Company<span>Overview</span></h2>
					<p>As a first order consulting/investment firm, we help companies,
						foundations and individuals make a difference. Our work gets to the heart
						of the matter. We break silos because it takes more than any one check or
						policy or letter to tackle big issues like economic security, human rights
						or climate sustainability. We prescribe a custom formula of advocacy, collaboration,
						investment, philanthropy, policy and new ways of Trading CFDs in order to help you
						make progress.</p>
					<ul>
						<li>you can exchange your bitcoin by eth.</li>
						<li>we take a big missoin for growth business. </li>
						<li>we have top level bitcoin experts</li>
					</ul>
					<a href="{% url 'signup' %}" class="btn btn-alt">Get Started</a>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-1">
				<div class="video-block round">
					<img src="{% static 'img/video-md-a.jpg' %}" alt="photo-md" class="img-shadow">
					<!-- <a href="https://www.youtube.com/watch?v=N6NscwzbMvI" class="video-play"><span class="pe pe-7s-play"></span></a> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Section -->

<!--Section -->
<div class="section section-pad bg-grey">
	<div class="container">
		<div class="section-head">
			<div class="row text-center">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<h2 class="heading-section">Why choose Us</h2>
				</div>
			</div>
		</div>
		<div class="gaps size-3x"></div>
		<div class="row text-center">
			<div class="col-md-4 res-m-bttm-lg">
				<div class="box-alt">
					<div class="image-icon">
						<img src="{% static 'img/box-icon-a.png' %}" alt="box-icon">
					</div>
					<h4>Trading Breakdown</h4>
					<p>Get access to your trading dashboard and monitor your growth then think of posibilities to invest on.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box-alt">
					<div class="image-icon">
						<img src="{% static 'img/box-icon-g.png' %}" alt="box-icon">
					</div>
					<h4>Secure Withdrawals</h4>
					<p>Get quick access to your earned profits and withdraw at any time to your preferred listed payment methods.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box-alt">
					<div class="image-icon">
						<img src="{% static 'img/box-icon-f.png' %}" alt="box-icon">
					</div>
					<h4>Increase in Profit</h4>
					<p>Even as there's a win/lose risk involved in trading CFDs, our team of experts will help you grow your profits.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Section -->

<!-- Section -->
<div class="section section-pad cta-section light has-bg dark-filter">
	<div class="imagebg has-parallax">
		<img src="{% static 'img/cta-bg.jpg' %}" alt="cta-bg">
	</div>
	<div class="container">
		<div class="row text-center">
			<div class="col-md-8 col-md-offset-2">
				<h3>Are you searching for a safe place to invest your money? Take the right step, Invest with us! </h3>
				<a href="{% url 'signup' %}" class="btn btn-md">Start Now</a>
			</div>
		</div>
	</div>
</div>
<!-- End Section -->

{% endblock %}