<html>
    <title>
        ExorTrading
    </title>

    <head>
        {% include 'header.html' %}
    </head>

    <body>
        {% block content %}

        {% endblock %}

    <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/60218597a9a34e36b975131c/1eu1f3mpk';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    </body>
    {% include 'footer.html' %}
</html>