{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Exortrading is a powerful Bitcoin Crypto Currency Wallet and Mining Template with full of customization options and features">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{% static 'dashboard_static/images/favicon.png' %}">
    <!-- Site Title  -->
    <title>Exortrading User Dashboard</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="{% static 'dashboard_static/css/vendor.bundle.css' %}">

    <link href="{% static 'dashboard_static/css/lib/sweetalert/sweetalert.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'dashboard_static/css/style.css' %}" rel="stylesheet">
</head>

<body class="header-fix fix-sidebar">

    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <!-- <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light"> -->
                <!-- Logo -->
                <!-- <div class="navbar-header">
                    <a class="navbar-brand" href="home.html">
                        <span>
                            <h2 class="dark-logo">Exortrading</h2>
                        </span> -->
                        <!-- Logo icon -->
                        <!-- <b><img src="images/logo.png" alt="homepage" class="dark-logo" /></b> -->
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <!-- <span><img src="images/logo-text.png" alt="homepage" class="dark-logo" /></span>
                    </a>
                </div> -->
                <!-- End Logo -->
                <!-- <div class="navbar-collapse"> -->
                    <!-- toggle and nav items -->
                    <!-- <ul class="navbar-nav mr-auto mt-md-0"> -->
                        <!-- This is  -->
                        <!-- <li class="nav-item"> <a class="nav-link toggle-nav hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggle hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>

                    </ul> -->
                    <!-- User profile and search -->
                    <!-- <ul class="navbar-nav my-lg-0"> -->


                        <!-- Profile -->
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
                            <div class="dropdown-menu dropdown-menu-right animated slideInRight">
                                <ul class="dropdown-user">
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"> Profile</a></li>
                                    <li><a href="#"> Balance</a></li>
                                    <li><a href="#"> Inbox</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"> Setting</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'logout' %}"> Logout</a></li>
                                </ul>
                            </div>
                        </li> -->
                    <!-- </ul>
                </div>
            </nav>
        </div> -->
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebar-menu">
                        <li class="nav-devider"></li>
                        {% if user.is_authenticated %}
                            <li class="nav-label">Hello {{ user.username }}</li>
                            <li><a href="{% url 'logout' %}"> Logout</a></li>
                        {% else %}
                            <li class="nav-label">You are not logged in</li>
                        {% endif %}
                        
                        <br>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'dashboard-home' %}">Overview</a></li>
                            </ul>
                        </li>
                        <!-- <li> <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Account</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="changepassword.php">Change Password</a></li>
                                <li><a href="{% url 'update-account' %}">Update Account</a></li>
                                <li><a href="{% url 'refer-user' %}">Refer Users</a></li>
                            </ul>
                        </li> -->
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-map-pin"></i><span class="hide-menu">Transaction</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'deposits' %}">My Deposit</a></li>
                                <li><a href="{% url 'withdrawals' %}">My Withdrawals</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Investment</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'buy-plans' %}">Buy Package</a></li>
                                <li><a href="{% url 'my-plans' %}">My Package</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-question-circle"></i><span class="hide-menu">Live Support</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'support' %}">Help</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Exortrading</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->