{% include 'dashboard-header.html'%}

<!-- TradingView Widget BEGIN -->
<div align="center">
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>

    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
      {
        "symbols": [{
            "title": "EUR/USD",
            "proName": "FX_IDC:EURUSD"
          },
          {
            "title": "BTC/USD",
            "proName": "BITSTAMP:BTCUSD"
          },
          {
            "title": "ETH/USD",
            "proName": "BITSTAMP:ETHUSD"
          },
          {
            "description": "LTC/USD",
            "proName": "KRAKEN:LTCUSD"
          },
          {
            "description": "DOGE/USD",
            "proName": "BITTREX:DOGEUSD"
          },
          {
            "description": "BCH/USD",
            "proName": "KRAKEN:BCHUSD"
          }
        ],
        "colorTheme": "dark",
        "isTransparent": false,
        "displayMode": "compact",
        "locale": "en"
      }
    </script>
  </div>
  <div class="container-fluid">
    <!-- Start Page Content --> 
    {% for dashboard in object_list %}
    <div class="row">
      <div class="col-md-3">
        <div class="card bg-primary p-20">
          <div class="media widget-ten">
            <div class="media-left meida media-middle">
              <span><i class="fa fa-lock f-s-40"></i></span>
            </div>
            <div class="media-body media-text-right">
              
              <h2 class="color-white text-white">{{ dashboard.account_status }}</h2>
              <p class="m-b-0 text-white" class="text-white">Account status</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-warning p-20">
          <div class="media widget-ten">
            <div class="media-left meida media-middle">
              <span><i class="fa fa-suitcase f-s-40"></i></span>
            </div>
            <div class="media-body media-text-right">
              <h2 class="color-white text-white">${{ dashboard.deposit }}</h2>
              <p class="m-b-0 text-white">My Deposits</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-success p-20">
          <div class="media widget-ten">
            <div class="media-left meida media-middle">
              <span><i class="fa fa-bullhorn f-s-40"></i></span>
            </div>
            <div class="media-body media-text-right">
              <h2 class="color-white text-white">${{ dashboard.referral_bonus }}</h2>
              <p class="m-b-0 text-white">Referral Bonus</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-danger p-20">
          <div class="media widget-ten">
            <div class="media-left meida media-middle">
              <span><i class="fa fa-eye f-s-40"></i></span>
            </div>
            <div class="media-body media-text-right">
              <h2 class="color-white text-white">${{ dashboard.total_balance }}</h2>
              <p class="m-b-0 text-white">Total Balance</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- TradingView Widget END -->

  <div class="tradingview-widget-container" style="margin:30px 0px 10px 0px;">
    <div id="tradingview_f933e"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
      new TradingView.widget({
        "width": 980,
        "height": 510,
        "symbol": "COINBASE:BTCUSD",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "Dark",
        "style": "1",
        "locale": "en",
        "toolbar_bg": "rgba(152, 152, 152, 1)",
        "enable_publishing": false,
        "withdateranges": true,
        "allow_symbol_change": true,
        "details": true,
        "hotlist": true,
        "show_popup_button": true,
        "popup_width": "1000",
        "popup_height": "650",
        "container_id": "tradingview_03aec"
      });
    </script>
  </div>
</div>


{% include 'dashboard-footer.html'%}