{% load static %}
<!-- footer -->
<footer class="footer">Copyright &copy; 2021 Exortrading.</footer>
<!-- End footer -->
</div>
<!-- End Page wrapper  -->
</div>
<!-- End Wrapper -->
<!-- All Jquery -->
<script src="{% static 'dashboard_static/js/lib/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'dashboard_static/js/lib/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'dashboard_static/js/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'dashboard_static/js/jquery.slimscroll.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'dashboard_static/js/sidebarmenu.js' %}"></script>
<!--stickey kit -->
<script src="{% static 'dashboard_static/js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>

<script src="{% static 'dashboard_static/js/lib/sweetalert/sweetalert.min.js' %}"></script>
<!-- scripit init-->
<script src="{% static 'dashboard_static/js/lib/sweetalert/sweetalert.init.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'dashboard_static/js/custom.min.js' %}"></script>


</html>