{% include 'dashboard-header.html'%}
<!-- TradingView Widget BEGIN -->
<div align="center">
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>

    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
      {
        "symbols": [{
            "title": "EUR/USD",
            "proName": "FX_IDC:EURUSD"
          },
          {
            "title": "BTC/USD",
            "proName": "BITSTAMP:BTCUSD"
          },
          {
            "title": "ETH/USD",
            "proName": "BITSTAMP:ETHUSD"
          },
          {
            "description": "LTC/USD",
            "proName": "KRAKEN:LTCUSD"
          },
          {
            "description": "DOGE/USD",
            "proName": "BITTREX:DOGEUSD"
          },
          {
            "description": "BCH/USD",
            "proName": "KRAKEN:BCHUSD"
          }
        ],
        "colorTheme": "dark",
        "isTransparent": false,
        "displayMode": "compact",
        "locale": "en"
      }
    </script>
  </div>
  <div class="container-fluid">
    <!-- Start Page Content -->

    <div class="row">
      <div class="col-lg-12">
        <div class="sweetalert m-t-15">
          <a class="btn btn-default" href="{% url 'new-deposit' %}">Make New Deposit</a>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Amount</th>
                    <th>Payment Mode</th>
                    <th>Status</th>
                    <th>Date </th>
                  </tr>
                </thead>
                <tbody>
                  {% for deposit in object_list %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td class="color-primary">$ {{ deposit.amount }}</td>
                    <td>{{ deposit.payment_method }}</td>
                    <td><span class="badge badge-success{{ deposit.get_label_display }}">{{ deposit.status }}</span></td>
                    <td>{{ deposit.date }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <script>
      document.querySelector('.sweet-prompt').onclick = function() {
        swal({
            title: "Make new deposit !!",
            text: "Enter Amount !!",
            type: "input",
            showCancelButton: true,
            closeOnConfirm: false,
            animation: "slide-from-top",
            inputPlaceholder: "Enter Amount"

            
          },
          function(inputValue) {
            if (inputValue === false) return false;
            if (inputValue === "") {
              swal.showInputError("Please you need to enter an amount!");
              return false
            }
            swal("Hey !!", "You want to deposit: " + inputValue, "success");
          });
      };
    </script> -->
{% include 'dashboard-footer.html'%}