{% load static %}
<!-- Section Footer -->
<div class="footer-section section section-pad-md light bg-footer">
	<div class="imagebg footerbg">
		<img src="{% static 'images/footer-bg.png' %}" alt="footer-bg">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 wgs-box res-m-bttm-lg">
				<h1>Exortrading</h1>
			</div>
			<div class="col-md-3 col-sm-6 wgs-box res-m-bttm-lg">
				<!-- Each Widget -->
				<!-- <div class="wgs-footer wgs-menu">
							<h5 class="wgs-title ucap">Services</h5>
							<div class="wgs-content">
								<ul class="menu">
									<li><a href="#">Buy Bitcoins</a></li>
									<li><a href="#">Buy Ethereum</a></li>
									<li><a href="#">Sell Bitcoins</a></li>
									<li><a href="#">Bitcoin Trading</a></li>
									<li><a href="#">Margin Trading</a></li>
								</ul>
							</div>
						</div> -->
				<!-- End Widget -->
			</div>
			<div class="col-md-3 col-sm-6 wgs-box res-m-bttm-lg">
				<!-- Each Widget -->
				<div class="wgs-footer wgs-menu">
					<h5 class="wgs-title ucap">Useful Links</h5>
					<div class="wgs-content">
						<ul class="menu">
							<!-- <li><a href="{% url 'contact-us' %}">Contact Us</a></li> -->
							<li><a href="{% url 'about' %}">About Us</a></li>
							<li><a href="{% url 'signup' %}">Trading Portal</a></li>
							<li><a href="{% url 'services' %}">How it works</a></li>
							<li><a href="{% url 'terms-of-service' %}">Terms</a></li>
							<li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
				<!-- End Widget -->
			</div>
			<div class="col-md-3 col-sm-6 wgs-box res-m-bttm">
				<!-- Each Widget -->
				<div class="wgs-footer wgs-contact">
					<h5 class="wgs-title ucap">get in touch</h5>
					<div class="wgs-content">
						<ul class="wgs-contact-list">
							<li><span class="pe pe-7s-map-marker"></span>217 Summit Boulevard <br />Birmingham, AL 35243</li>
							<!-- <li><span class="pe pe-7s-call"></span>(123) 4567 8910 <br />(123) 1234 5678</li> -->
							<li><span class="pe pe-7s-global"></span> <a href="https://exortrading.com">www.exortrading.com</a></li>
						</ul>
					</div>
				</div>
				<!-- End Widget -->
			</div>
		</div>
	</div>
</div>
<!-- End Section -->

<!-- Copyright -->
<div class="copyright light">
	<div class="container">
		<div class="row">
			<div class="site-copy col-sm-7">
				<p>Copyright &copy; 2021 Exortrading.</p>
			</div>
			<div class="col-sm-5 text-right mobile-left">
				<ul class="social">
					<li><a href="facebook.com"><em class="fa fa-facebook"></em></a></li>
					<li><a href="twitter.com"><em class="fa fa-twitter"></em></a></li>
					<li><a href="linkedin.com"><em class="fa fa-linkedin"></em></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End Copyright -->

<!-- JavaScript
		================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{% static 'js/jquery.bundle.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script>
	(function(b, i, t, C, O, I, N) {
		window.addEventListener('load', function() {
			if (b.getElementById(C)) return;
			I = b.createElement(i), N = b.getElementsByTagName(i)[0];
			I.src = t;
			I.id = C;
			N.parentNode.insertBefore(I, N);
		}, false)
	})(document, 'script', 'https://widgets.bitcoin.com/widget.js', 'btcwdgt');
</script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/60218597a9a34e36b975131c/1eu1f3mpk';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->
</body>

</html>