{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Exortrading is a powerful Bitcoin Crypto Currency Wallet and Mining Template with full of customization options and features">
	<!-- Fav Icon  -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
	<!-- Site Title  -->
	<title>Exortrading</title>
	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="{% static 'css/vendor.bundle.css' %}">
	<!-- Custom styles for this template -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/vendor/font-awesome.css' %}" rel="stylesheet">
</head>

<body>

	<!-- Header -->
	<header class="site-header header-s1 is-sticky">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<!-- <div class="row">
					<div class="col-sm-6">
						<ul class="social">
							<li><a href="facebook.com"><em class="fa fa-facebook"></em></a></li>
							<li><a href="twitter.com"><em class="fa fa-twitter"></em></a></li>
							<li><a href="linkedin.com"><em class="fa fa-linkedin"></em></a></li>
						</ul>
					</div>
					<div class="col-sm-6 al-right">
						<ul class="top-nav">
                            <a href="{% url 'contact-us' %}">Contact</a></li>
                            {% if user.is_authenticated %}
                                {{user.username}} | <p><a href="{% url 'logout' %}">Logout</a></p>
                                
                            {% else %}
                                <a href="{% url 'login' %}">Login</a> |
                                <a href="{% url 'signup' %}">Signup</a>
                            {% endif %}
						</ul>
					</div>
				</div> -->
			</div>
		</div>
		<!-- End Topbar -->
		<!-- Navbar -->
		<div class="navbar navbar-primary">
			<div class="container relative">
				<!-- Logo -->
				<a class="navbar-brand" href="{% url 'home' %}">
					<!-- <img class="logo logo-dark" alt="logo" src="images/logo.png">
                        <img class="logo logo-light" alt="logo" src="images/logo_white.png"> -->
					<h2>Exortrading</h2>
				</a>
				<!-- #end Logo -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
						<span class="sr-only">Menu</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="quote-btn"><a class="btn" href="{% url 'signup' %}"><span>get started</span></a></div>
				</div>
				<!-- MainNav -->
				<nav class="navbar-collapse collapse" id="mainnav">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'about' %}">About</a></li>
						<li><a href="{% url 'services' %}">Services</a></li>
						<li><a href="{% url 'login' %}">Trading</a></li>
						<!-- <li><a href="{% url 'contact-us' %}">Contact Us</a></li> -->
						<li class="quote-btn hidden-xs hidden-sm"><a class="btn" href="{% url 'signup' %}">get started</a></li>
					</ul>
				</nav>
				<!-- #end MainNav -->
			</div>
		</div>
		<!-- End Navbar -->