{% extends 'base.html' %}
{% load static %}

{% block title %}
    Exortrading - Bitcoin Crypto Currency Wallet and Mining Template
{% endblock %}

{% block content %}

<!-- Banner/Slider -->
<div id="header" class="banner header-slider">
	<div class="single-slide light row-vm" style="background-image:linear-gradient(0deg,  rgba(1, 0, 36, 0.555), rgba(10, 14, 63, 0.589)), url({% static './img/header-bg-a.jpg' %})">
		<div class="container">
			<div class="banner-content">
				<div class="row">
					<div class="col-md-6">
						<h1 class="animate-bottom delayms5"><span class="ucap">HELPING LEADERS</span></h1>
						<p class="lead animate-bottom delayms7">We look forward to help you in taking your investments to new height by providing a safe way to get your money working for you.</p>
						<ul class="btns animate-bottom delayms9">
							<li><a href="{% url 'login' %}" class="btn">Login</a></li>
							<li><a href="{% url 'signup' %}" class="btn btn-outline">Register</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="single-slide light row-vm" style="background-image:linear-gradient(0deg,  rgba(1, 0, 36, 0.555), rgba(10, 14, 63, 0.589)), url({% static './img/header-bg-b.jpg' %})">
		<div class="container">
			<div class="banner-content">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center">
						<h1 class="animate-bottom delayms5"><span class="ucap">PENSION SCHEME</span></h1>
						<p class="lead animate-bottom delayms7">Giving you the best investment solutions to help you sustain even at retirement.</p>
						<ul class="btns animate-bottom delayms9">
							<li><a href="{% url 'login' %}" class="btn">Login</a></li>
							<li><a href="{% url 'signup' %}" class="btn btn-outline">Register</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="single-slide light row-vm" style="background-image:linear-gradient(0deg,  rgba(1, 0, 36, 0.555), rgba(10, 14, 63, 0.589)), url({% static './img/header-bg-c.jpg' %})">
		<div class="container">
			<div class="banner-content">
				<div class="row">
					<div class="col-md-6">
						<h1 class="animate-bottom delayms5"><span class="ucap">MAKE YOUR DREAMS COME TRUE</span></h1>
						<p class="lead animate-bottom delayms7">Financial incapability can hinder your dreams from turning into reality. Invest in your future by investing for your future.
							Open an Investment portfolio with us.</p>
						<ul class="btns animate-bottom delayms9">
							<li><a href="{% url 'login' %}" class="btn">Login</a></li>
							<li><a href="{% url 'signup' %}" class="btn btn-outline">Register</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Banner/Slider -->
</header>
<!-- End Header -->

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
	<div class="tradingview-widget-container__widget"></div>
	<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
		{
			"symbols": [{
					"proName": "FOREXCOM:SPXUSD",
					"title": "S&P 500"
				},
				{
					"proName": "FOREXCOM:NSXUSD",
					"title": "Nasdaq 100"
				},
				{
					"proName": "FX_IDC:EURUSD",
					"title": "EUR/USD"
				},
				{
					"description": "AAPL",
					"proName": "CURRENCYCOM:AAPL"
				},
				{
					"description": "MSFT",
					"proName": "CURRENCYCOM:MSFT"
				}
			],
			"colorTheme": "dark",
			"isTransparent": false,
			"locale": "en"
		}
	</script>
</div>
<!-- TradingView Widget END -->

<!-- Features Box -->
<div class="features-box section section-pad">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-3 col-sm-6 res-m-bttm">
				<div class="box box-alt-bg round shadow">
					<img src="{% static 'img/box-icon-a.png' %}" alt="box-icon" class="box-icon">
					<h6 class="ucap">TRADING CFDS</h6>
					<p class="small">Smart Trading and Investment for the future and present traders.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 res-m-bttm">
				<div class="box box-alt-bg round shadow">
					<img src="{% static 'img/box-icon-p.png' %}" alt="box-icon" class="box-icon">
					<h6 class="ucap">RISK MANAGEMENT</h6>
					<p class="small">Calculate every possible risk in your business, take control over them.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 res-m-bttm">
				<div class="box box-alt-bg round shadow">
					<img src="{% static 'img/box-icon-b.png' %}" alt="box-icon" class="box-icon">
					<h6 class="ucap">NO HIDDEN FEES</h6>
					<p class="small">One of our guiding light as an investment firm is the standard of credibility.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 res-m-bttm">
				<div class="box box-alt-bg round shadow">
					<img src="{% static 'img/box-icon-d.png' %}" alt="box-icon" class="box-icon">
					<h6 class="ucap">SECURED & TRUSTED</h6>
					<p class="small">We've made this platform so simple and safe for everyone to use. Check it out!</p>
				</div>
			</div>
		</div>
		<div class="gaps size-2x"></div>
		<div class="gaps size-4x hidden-xs hidden-sm"></div>
		<div class="row row-vm">
			<div class="col-md-5">
				<div class="round mgr--30 res-m-bttm"><img src="{% static 'img/photo-md-a.jpg' %}" alt="photo-md" class="img-shadow"></div>
			</div>
			<div class="col-md-6 col-md-offset-1 ">
				<div class="text-block">
					<h2>Welcome to Exortrading</h2>
					<p>Get expert consultancy and trading support with CityMarketTrade, an Investment Firm that stand by your side always, even at retirement!</p>
					<p>Before talking destination, we shine a spotlight across your organization
						to fully understand it.</p>
					<a href="{% url 'about' %}" class="btn btn-alt">Read More</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Features Box -->

<!-- Section -->
<div class="section section-pad-sm cta-small light">
	<div class="cta-block">
		<div class="container">
			<div class="row mobile-center">
				<div class="col-md-12">
					<div class="cta-sameline">
						<h3>Open account for free and start trading now!</h3>
						<a class="btn btn-outline btn-alt btn-md" href="{% url 'login' %}">get started</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Section -->

<!--Section -->
<div class="section section-pad bg-grey">
	<div class="container">
		<div class="row row-vm">
			<div class="col-md-6">
				<div class="trendingview-chart res-m-bttm">
					<!-- TradingView Widget BEGIN -->
					<script src="https://s3.tradingview.com/tv.js"></script>
					<script>
						new TradingView.widget({
							"autosize": true,
							"symbol": "NASDAQ:AAPL",
							"interval": "60",
							"timezone": "Etc/UTC",
							"theme": "Light",
							"style": "1",
							"locale": "en",
							"toolbar_bg": "#f1f3f6",
							"enable_publishing": false,
							"allow_symbol_change": true,
							"hideideas": true
						});
					</script>
					<!-- TradingView Widget END -->
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1 ">
				<div class="text-block">
					<h2>No Experience? <br />No worries</h2>
					<p>Looking to get started in the world of cryptocurrency trading?</p>
					<p>Our platform is very userfriendly and easy to use we also have trained dedicated support that are willing to assist you as soon as possible.</p>
					<a href="{% url 'signup' %}" class="btn btn-alt">Get started</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Section -->

<!--Section -->
<div class="section section-pad">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-4 col-sm-6">
				<div class="service-box shadow round">
					<div class="service-thumb">
						<a href=""><img src="{% static 'img/service-thumb-a.jpg' %}" alt="service"></a>
					</div>
					<div class="service-entry">
						<h5>Binary Options/Forex Investment</h5>
						<p>As one of the world’s largest accountancy networks, we help a diverse range of clients
							with a diverse range of needs. We give you the best idea on trades, which provides corporate finance and transaction services, business restructuring.</p>
					</div>
				</div>
				<div class="gaps size-3x"></div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="service-box shadow round">
					<div class="service-thumb">
						<a href=""><img src="{% static 'img/service-thumb-b.jpg' %}" alt="service"></a>
					</div>
					<div class="service-entry">
						<h5>Stock/CFDs Trading</h5>
						<p>Using Blockchain Technology, our goal is to provide the best online trading solutions to our customers globally with our team of experienced experts. We strive to enlighten our customers as best as we can regardless of their level of competence with Stock Trading.</p>

					</div>
				</div>
				<div class="gaps size-3x"></div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="service-box shadow round">
					<div class="service-thumb">
						<a href=""><img src="{% static 'img/service-thumb-c.jpg' %}" alt="service"></a>
					</div>
					<div class="service-entry">
						<h5>Retirement Plan</h5>
						<p>To help you understand what this road looks like, we came up with the plan of giving you a promising retirement from your invesments here through our Pension Scheme. We developed a portal to secure your savings for future needs. So your money works for you.</p>

					</div>
				</div>
				<div class="gaps size-3x"></div>
			</div>
		</div>
	</div>
</div>
<!--End Section -->

<!--Section -->
<div class="section section-pad bg-grey">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="trendingview-chart">
					<!-- TradingView Widget BEGIN -->
					<script src="https://s3.tradingview.com/external-embedding/embed-widget-forex-cross-rates.js">
						{
							"currencies": [
								"EUR",
								"USD",
								"JPY",
								"GBP",
								"CHF",
								"AUD",
								"CAD",
								"NZD",
								"CNY"
							],
							"width": "100%",
							"height": "100%",
							"locale": "en",
							"largeChartUrl": "market-data.html"
						}
					</script>
					<!-- TradingView Widget END -->
				</div>
			</div>
		</div>
		<div class="gaps size-2x"></div>
		<div class="row text-center">
			<div class="col-md-8 col-md-offset-2">
				<div class="text-block">
					<h2>Take a Look at<br /> Trading Chart</h2>
					<p>Looking to get started in the world of cryptocurrency trading sit back and relax? </p>
					<a href="{% url 'signup' %}" class="btn btn-alt">Get started</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Section -->

{% endblock %}