{% include 'dashboard-header.html'%}

<!-- TradingView Widget BEGIN -->
<div align="center">
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>

    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
      {
        "symbols": [{
            "title": "EUR/USD",
            "proName": "FX_IDC:EURUSD"
          },
          {
            "title": "BTC/USD",
            "proName": "BITSTAMP:BTCUSD"
          },
          {
            "title": "ETH/USD",
            "proName": "BITSTAMP:ETHUSD"
          },
          {
            "description": "LTC/USD",
            "proName": "KRAKEN:LTCUSD"
          },
          {
            "description": "DOGE/USD",
            "proName": "BITTREX:DOGEUSD"
          },
          {
            "description": "BCH/USD",
            "proName": "KRAKEN:BCHUSD"
          }
        ],
        "colorTheme": "dark",
        "isTransparent": false,
        "displayMode": "compact",
        "locale": "en"
      }
    </script>
  </div>
  <div class="container-fluid">
    <br>
    
    <div class="row">

      <div class="col-lg-4">
        {% for plans in object_list %}
        <div class="card">
          <div class="card-body">
            <h1 class="card-header  card-title">{{plans.plan_name}}</h1>
            <div>
              <form>
                <div>
                  <div>
                    <h2>${{plans.amount}}</h2>
                    <hr>
                    <p>At least ${{plans.expected_return}} expected return</p>
                    <hr>
                    <p>${{plans.daily_return}} Daily return</p>
                    <p><b>Amount invested</b></p>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="${{plans.amount}}">
                  </div>

                  <div>
                    <label for="">Investment duration</label>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="One Month">
                    </div>
                  </div>
                  <br>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  {% empty %}
    <div class="card-content">
      <div class="alert alert-primary alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>You do not have a package at the moment
      </div>
    </div>
  {% endfor %}
</div>



{% include 'dashboard-footer.html'%}