{% include 'dashboard-header.html' %}
{% load crispy_forms_tags %}

<!-- TradingView Widget BEGIN -->
<div align="center">
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>

    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
      {
        "symbols": [{
            "title": "EUR/USD",
            "proName": "FX_IDC:EURUSD"
          },
          {
            "title": "BTC/USD",
            "proName": "BITSTAMP:BTCUSD"
          },
          {
            "title": "ETH/USD",
            "proName": "BITSTAMP:ETHUSD"
          },
          {
            "description": "LTC/USD",
            "proName": "KRAKEN:LTCUSD"
          },
          {
            "description": "DOGE/USD",
            "proName": "BITTREX:DOGEUSD"
          },
          {
            "description": "BCH/USD",
            "proName": "KRAKEN:BCHUSD"
          }
        ],
        "colorTheme": "dark",
        "isTransparent": false,
        "displayMode": "compact",
        "locale": "en"
      }
    </script>
  </div>
  <!-- TradingView Widget END -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-6" style="margin: 0 auto;">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">New deposit</h4>
            <div class="tab-content tabcontent-border">
                <div class="tab-pane active" id="bank" role="tabpanel">
                  <div class="p-20">
                    <form style="text-align: left;" method="POST" enctype="multipart/form-data">
                      <div class="form-group">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-success" type="submit">Request withdrawal</button>
                        <p><b>Please provide the details above as they are needed in the withdrawal process</b></p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

{% include 'dashboard-footer.html' %}