{% include 'dashboard-header.html'%}

<!-- TradingView Widget BEGIN -->
<div align="center">
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>

    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
      {
        "symbols": [{
            "title": "EUR/USD",
            "proName": "FX_IDC:EURUSD"
          },
          {
            "title": "BTC/USD",
            "proName": "BITSTAMP:BTCUSD"
          },
          {
            "title": "ETH/USD",
            "proName": "BITSTAMP:ETHUSD"
          },
          {
            "description": "LTC/USD",
            "proName": "KRAKEN:LTCUSD"
          },
          {
            "description": "DOGE/USD",
            "proName": "BITTREX:DOGEUSD"
          },
          {
            "description": "BCH/USD",
            "proName": "KRAKEN:BCHUSD"
          }
        ],
        "colorTheme": "dark",
        "isTransparent": false,
        "displayMode": "compact",
        "locale": "en"
      }
    </script>
  </div>
  <div class="container-fluid">
    <div class="row">


      <div class="col-md-12">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib"></div>
                <div class="stat-content dib">
                    <h2 class="color-white text-black">Investment plans</h2>
                </div>
            </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h1 class="card-header  card-title">DEMO/TEST</h1>
            <div>
              <form>
                <div>
                  <div>
                    <h2>0.012 BTC</h2>
                    <hr>
                    <p>At least 0.108 BTC expected return</p>
                    <hr>
                    <p>0.0036 BTC Daily return</p>
                    <p><b>Amount to invest: (0.012 BTC default)</b></p>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="$500">
                  </div>

                  <div>
                    <label for="">Select investment duration</label>
                    <select class="form-control">
                      <option>One Month</option>
                    </select>
                  </div>
                  <br>
                  <div>
                    <button type="submit" class="btn btn-default"><a href="{% url 'new-deposit' %}">Join plan</a></button>                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h1 class="card-header  card-title">STARTER</h1>
            <div>
              <form>
                <div>
                  <div>
                    <h2>0.058 BTC</h2>
                    <hr>
                    <p>At least 0.52 BTC expected return</p>
                    <hr>
                    <p>0.017 BTC Daily return</p>
                    <p><b>Amount to invest: (0.058 BTC default)</b></p>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="$2500">
                  </div>

                  <div>
                    <label for="">Select investment duration</label>
                    <select class="form-control">
                      <option>One Month</option>
                    </select>
                  </div>
                  <br>
                  <div>
                    <button type="submit" class="btn btn-default"><a href="{% url 'new-deposit' %}">Join plan</a></button>                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h1 class="card-header  card-title">SILVER</h1>
            <div>
              <form>
                <div>
                  <div>
                    <h2>0.12 BTC</h2>
                    <hr>
                    <p>At least 1.05 BTC expected return</p>
                    <hr>
                    <p> 0.035 BTC Daily return</p>
                    <p><b>Amount to invest: (0.12 BTC default)</b></p>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="$5000">
                  </div>

                  <div>
                    <label for="">Select investment duration</label>
                    <select class="form-control">
                      <option>One Month</option>
                    </select>
                  </div>
                  <br>
                  <div>
                    <button type="submit" class="btn btn-default"><a href="{% url 'new-deposit' %}">Join plan</a></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h1 class="card-header  card-title">GOLD</h1>
            <div>
              <form>
                <div>
                  <div>
                    <h2>0.23 BTC</h2>
                    <hr>
                    <p> At least 2.09 BTC expected return</p>
                    <hr>
                    <p> 0.070 BTC Daily return</p>
                    <p><b>Amount to invest: (0.23 BTC default)</b></p>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="$10000">
                  </div>

                  <div>
                    <label for="">Select investment duration</label>
                    <select class="form-control">
                      <option>One Month</option>
                    </select>
                  </div>
                  <br>
                  <div>
                    <button type="submit" class="btn btn-default"><a href="{% url 'new-deposit' %}">Join plan</a></button>                  
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h1 class="card-header  card-title">DIAMOND</h1>
            <div>
              <form>
                <div>
                  <div>
                    <h2>0.35 BTC</h2>
                    <hr>
                    <p> At least 3.14 BTC expected return</p>
                    <hr>
                    <p>0.11 BTC Daily return</p>
                    <p><b>Amount to invest: (0.35 BTC default)</b></p>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="$15000">
                  </div>

                  <div>
                    <label for="">Select investment duration</label>
                    <select class="form-control">
                      <option>One Month</option>
                    </select>
                  </div>
                  <br>
                  <div>
                    <button type="submit" class="btn btn-default"><a href="{% url 'new-deposit' %}">Join plan</a></button>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h1 class="card-header  card-title">PLATINUM</h1>
            <div>
              <form>
                <div>
                  <div>
                    <h2>0.47 BTC</h2>
                    <hr>
                    <p>At least 4.21 BTC expected return</p>
                    <hr>
                    <p>0.14 BTC Daily return</p>
                    <p><b>Amount to invest: (0.47 BTC default)</b></p>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="$20000">
                  </div>

                  <div>
                    <label for="">Select investment duration</label>
                    <select class="form-control">
                      <option>One Month</option>
                    </select>
                  </div>
                  <br>
                  <div>
                    <button type="submit" class="btn btn-default"><a href="{% url 'new-deposit' %}">Join plan</a></button>                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      
      <div class="col-md-12">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib"></div>
                <div class="stat-content dib">
                    <h2 class="color-white text-black">Retirement plans</h2>
                </div>
            </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h1 class="card-header  card-title">STARTER X3</h1>
            <div>
              <form>
                <div>
                  <div>
                    <h2>1.17 BTC</h2>
                    <hr>
                    <p> At least 5.84 BTC expected return</p>
                    <hr>
                    <p> 0.033 BTC Daily return</p>
                    <p><b>Amount to invest: (1.17 BTC default)</b></p>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="$2500">
                  </div>

                  <div>
                    <label for="">Investment duration</label>
                    <select class="form-control">
                      <option>Six Month</option>
                    </select>
                  </div>
                  <br>
                  <div>
                    <button type="submit" class="btn btn-default"><a href="{% url 'new-deposit' %}">Join plan</a></button>                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h1 class="card-header  card-title">SILVER X3</h1>
            <div>
              <form>
                <div>
                  <div>
                    <h2>2.34</h2>
                    <hr>
                    <p>At least 11.7 BTC expected return</p>
                    <hr>
                    <p>0.065 BTC Daily return</p>
                    <p><b>Amount to invest: (2.34 BTC default)</b></p>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="$5000">
                  </div>

                  <div>
                    <label for="">Investment duration</label>
                    <select class="form-control">
                      <option>Six Month</option>
                    </select>
                  </div>
                  <br>
                  <div>
                    <button type="submit" class="btn btn-default"><a href="{% url 'new-deposit' %}">Join plan</a></button>                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h1 class="card-header  card-title">GOLD X3</h1>
            <div>
              <form>
                <div>
                  <div>
                    <h2>4.67 BTC</h2>
                    <hr>
                    <p> At least 23.35 BTC expected return</p>
                    <hr>
                    <p> 0.13 Daily return</p>
                    <p><b>Amount to invest: (4.67 default)</b></p>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="$10000">
                  </div>

                  <div>
                    <label for="">Investment duration</label>
                    <select class="form-control">
                      <option>Six Month</option>
                    </select>
                  </div>
                  <br>
                  <div>
                    <button type="submit" class="btn btn-default"><a href="{% url 'new-deposit' %}">Join plan</a></button>                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>

{% include 'dashboard-footer.html'%}