{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Banner/Slider -->
<div class="page-head section row-vm light">
	<div class="imagebg">
		<img src="{% static 'img/page-inside-2-bg.jpg' %}" alt="page-head">
	</div>
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h2>Privacy</h2>
				<div class="page-breadcrumb">
					<ul class="breadcrumb">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li class="active"><span>Privacy Policy</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- #end Banner/Slider -->
</header>

<!--Section -->
<div class="section section-pad">
	<div class="container">
		<div class="section-head">
			<div class="row text-center">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<h2 class="heading-section cap">Our Privacy Policy</h2>
					<p>Your security/satisfaction is our priority!
						As part of providing services, or information about our services, to you, we will
						need to verify your identify to set you up as a customer and we will need to use
						those details in order to effectively manage your account with us to ensure that
						you are getting the best possible service from us. This may include third parties
						carrying out credit or identity checks on our behalf. It is not only in our legitimate
						interest to do so but the use of your personal information in this way is necessary for
						us to know who you are as we have a legal obligation to comply with certain Know Your
						Customer regulatory obligations.

						Your personal information with us is secure and we will never give/sell out your details to anyone.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Section -->

{% endblock %}