{% include 'dashboard-header.html'%}

<!-- TradingView Widget BEGIN -->
<div align="center">
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>

        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
                "symbols": [{
                        "title": "EUR/USD",
                        "proName": "FX_IDC:EURUSD"
                    },
                    {
                        "title": "BTC/USD",
                        "proName": "BITSTAMP:BTCUSD"
                    },
                    {
                        "title": "ETH/USD",
                        "proName": "BITSTAMP:ETHUSD"
                    },
                    {
                        "description": "LTC/USD",
                        "proName": "KRAKEN:LTCUSD"
                    },
                    {
                        "description": "DOGE/USD",
                        "proName": "BITTREX:DOGEUSD"
                    },
                    {
                        "description": "BCH/USD",
                        "proName": "KRAKEN:BCHUSD"
                    }
                ],
                "colorTheme": "dark",
                "isTransparent": false,
                "displayMode": "compact",
                "locale": "en"
            }
        </script>
    </div>
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">

            <div class="col-md-3">
                <div class="card bg-success p-20">
                    <div class="media widget-ten">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-bullhorn f-s-40"></i></span>
                        </div>
                       {% for dashboard in object_list %}
                        <div class="media-body media-text-right">
                            <h2 class="color-white text-white">${{ dashboard.referral_bonus }}</h2>
                            <p class="m-b-0 text-white">Referral Bonus</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card ">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-link color-danger border-danger"></i></div>
                        <div class="stat-content dib">
                            <h2 class="color-white text-black">You can refer users by sharing your referral link:</h2>
                            <p class="m-b-0 text-black">https://www.exortrading.com//ref/99</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h4>People Reffered </h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Date</th>
                                        <th>Bonus</th>
                                    </tr>
                                </thead>
                                {% comment %}
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>James Roman</td>
                                        <td>January 22</td>
                                        <td class="color-primary">$21.56</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Hardy</td>
                                        <td>January 30</td>
                                        <td class="color-success">$55.32</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Juan Monalisa</td>
                                        <td>January 25</td>
                                        <td class="color-danger">$14.85</td>
                                    </tr>
                                </tbody>
                                {% endcomment %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'dashboard-footer.html'%}