{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Banner/Slider -->
<div class="page-head section row-vm light">
	<div class="imagebg">
		<img src="{% static 'img/page-inside-2-bg.jpg' %}" alt="page-head">
	</div>
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h2>Service</h2>
				<div class="page-breadcrumb">
					<ul class="breadcrumb">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li class="active"><span>Service</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- #end Banner/Slider -->
</header>

<!--Section -->
<div class="section section-pad">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-4 col-sm-6">
				<div class="service-box shadow round">
					<div class="service-thumb">
						<a href="service-single.html"><img src="{% static 'img/service-thumb-a.jpg' %}" alt="service"></a>
					</div>
					<div class="service-entry">
						<h5>Binary Options/Forex Investment</h5>
						<p>As one of the world’s largest accountancy networks, CityMarketTrade' helps a diverse range of clients
							with a diverse range of needs. We give you the best idea on trades, which provides corporate finance and transaction services, business restructuring.</p>
					</div>
				</div>
				<div class="gaps size-3x"></div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="service-box shadow round">
					<div class="service-thumb">
						<a href="service-single.html"><img src="{% static 'img/service-thumb-b.jpg' %}" alt="service"></a>
					</div>
					<div class="service-entry">
						<h5>Stock/CFDs Trading</h5>
						<p>Using Blockchain Technology, our goal is to provide the best online trading solutions to our customers globally with our team of experienced experts. We strive to enlighten our customers as best as we can regardless of their level of competence with Stock Trading.</p>

					</div>
				</div>
				<div class="gaps size-3x"></div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="service-box shadow round">
					<div class="service-thumb">
						<a href="service-single.html"><img src="{% static 'img/service-thumb-c.jpg' %}" alt="service"></a>
					</div>
					<div class="service-entry">
						<h5>Retirement Plan</h5>
						<p>To help you understand what this road looks like, we came up with the plan of giving you a promising retirement from your invesments here through our Pension Scheme. We developed a portal to secure your savings for future needs. So your money works for you.</p>

					</div>
				</div>
				<div class="gaps size-3x"></div>
			</div>
		</div>
	</div>
</div>
<!--End Section -->


<!--Section -->
<div class="section section-pad">
	<div class="container">
		<div class="section-head">
			<div class="row text-center">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<h2 class="heading-section cap">Our Features</h2>
					<p>Here's a few of the features we provide.</p>
				</div>
			</div>
		</div>
		<div class="gaps size-3x"></div>
		<div class="row text-center mb-x7">
			<div class="col-md-4 col-sm-6">
				<div class="box box-small-dot box-alt-bg round">
					<span class="font-icon"><span class="pe pe-7s-lock"></span></span>
					<h4>Safe &amp; Secure</h4>
					<p>We provide safety and transparency to all our customers.</p>
				</div>
				<div class="gaps size-1-5x"></div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="box box-small-dot box-alt-bg round">
					<span class="font-icon"><span class="pe pe-7s-repeat"></span></span>
					<h4>Recurring Buys</h4>
					<p>Automatically invest your funds in the best crypto in the market.</p>
				</div>
				<div class="gaps size-1-5x"></div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="box box-small-dot box-alt-bg round">
					<span class="font-icon"><span class="pe pe-7s-wallet"></span></span>
					<h4>Mobile Apps</h4>
					<p>Stay up to date with your investments and trades on the go. Coming soon.</p>
				</div>
				<div class="gaps size-1-5x"></div>
			</div>
			<div class="col-md-4 col-sm-6 res-m-bttm">
				<div class="box box-small-dot box-alt-bg round">
					<span class="font-icon"><span class="pe pe-7s-cash"></span></span>
					<h4>Low Commission</h4>
					<p>We allow you trade on our platform for a one time fee every month. </p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 res-m-bttm">
				<div class="box box-small-dot box-alt-bg round">
					<span class="font-icon"><span class="pe pe-7s-cart"></span></span>
					<h4>Buy &amp; Sell</h4>
					<p>We have experts who can teach you how to buy and sell on the market</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 res-m-bttm">
				<div class="box box-small-dot box-alt-bg round">
					<span class="font-icon"><span class="pe pe-7s-global"></span></span>
					<h4>Global</h4>
					<p>Our platform works anywhere in the world.</p>
				</div>
			</div>
		</div>

	</div>
</div>
</div>
<!--End Section -->

<!--Section -->
<div class="section section-pad bg-grey">
	<div class="container">
		<div class="section-head">
			<div class="row text-center">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<h2 class="heading-section">Why choose Us</h2>
				</div>
			</div>
		</div>
		<div class="gaps size-3x"></div>
		<div class="row text-center">
			<div class="col-md-4 res-m-bttm-lg">
				<div class="box-alt">
					<div class="image-icon">
						<img src="{% static 'img/box-icon-a.png' %}" alt="box-icon">
					</div>
					<h4>Trading Breakdown</h4>
					<p>Get access to your trading dashboard and monitor your growth then think of posibilities to invest on.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box-alt">
					<div class="image-icon">
						<img src="{% static 'img/box-icon-g.png' %}" alt="box-icon">
					</div>
					<h4>Secure Withdrawals</h4>
					<p>Get quick access to your earned profits and withdraw at any time to your preferred listed payment methods.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box-alt">
					<div class="image-icon">
						<img src="{% static 'img/box-icon-f.png' %}" alt="box-icon">
					</div>
					<h4>Increase in Profit</h4>
					<p>Even as there's a win/lose risk involved in trading CFDs, our team of experts will help you grow your profits.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Section -->

{% endblock %}