{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Signup{% endblock %}

{% block content %}



<div class="section section-pad">
    <div class="container">
        <div class="tab-custom">
            <div class="gaps size-2x"></div>
            <!-- Tab panes -->
            <div class="tab-content no-pd">
                <div class="tab-pane fade in active" id="tab2">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <h3 class="heading-lead center">Register An Account</h3>
                            <form class="form-signup" action="" method="post" enctype="multipart/form-data">
                                <div class="form-results"></div>
                                <div class="form-group">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                </div>
                                <div class="form-group">
                                    <div class="form-field">
                                        <input type="checkbox" name="signup-term"> <span> I accept and agree with the terms of the<a href="{% url 'terms-of-service' %}">Terms of Service</a></span>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-alt">Signup</button>
                                <span class="gaps"></span>
                                <p class="small">Already registered? <a href="{% url 'login' %}">Login here</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Section -->
{% endblock %}