{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Banner/Slider -->
<div class="page-head section row-vm light">
	<div class="imagebg">
		<img src="{% static 'img/page-inside-2-bg.jpg' %}" alt="page-head">
	</div>
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h2>Terms of Use</h2>
				<div class="page-breadcrumb">
					<ul class="breadcrumb">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li class="active"><span>Terms</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- #end Banner/Slider -->
</header>

<!--Section -->
<div class="section section-pad">
	<div class="container">
		<div class="section-head">
			<div class="row text-center">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<h2 class="heading-section cap">Terms of use</h2>
					<p>Simple, Plain and Clear Risk Disclosure!
						It is important that you understand the risks associated with trading in the relevant underlying market because fluctuations in the price of the underlying market will affect your instruments and the profitability of your trades. CFDs are financial products that allow you to speculate on price movements in underlying markets and although the prices at which you trade these products are set by us, our prices are derived from the underlying market.

						THE VALUE OF INVESTMENTS CAN DECREASE AND AS WELL INCREASE
						The value of investments purchased through your Share Trading Account can go down as well as up and you may end up with less than you originally invested Some shares, such as unlisted shares, shares in some smaller companies and penny shares may present a higher risk than others and may prove difficult to dispose of at short notice. If you are in a position where you wish to sell these types of shares at short notice after buying them, you may find that the sell price is far lower than the price at which you bought them. In markets other than Australia, the risks of investing through your Share Trading Account may be greater than for Australian markets.
						Trading CFDs carries a high level of risk since leverage can work both to your advantage and disadvantage. As a result, CFDs may not be suitable for all investors because it is possible to lose all of your invested capital and we'll not be held responsible. You should never invest money that you cannot afford to lose. Please, understand the risk involved!</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Section -->


{% endblock %}