{% include 'dashboard-header.html'%}

<!-- TradingView Widget BEGIN -->
<div align="center">
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>

    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
      {
        "symbols": [{
            "title": "EUR/USD",
            "proName": "FX_IDC:EURUSD"
          },
          {
            "title": "BTC/USD",
            "proName": "BITSTAMP:BTCUSD"
          },
          {
            "title": "ETH/USD",
            "proName": "BITSTAMP:ETHUSD"
          },
          {
            "description": "LTC/USD",
            "proName": "KRAKEN:LTCUSD"
          },
          {
            "description": "DOGE/USD",
            "proName": "BITTREX:DOGEUSD"
          },
          {
            "description": "BCH/USD",
            "proName": "KRAKEN:BCHUSD"
          }
        ],
        "colorTheme": "dark",
        "isTransparent": false,
        "displayMode": "compact",
        "locale": "en"
      }
    </script>
  </div>
  <!-- TradingView Widget END -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-6" style="margin: 0 auto;">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Withdrawal account</h4>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#bank" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Bank Transfer</span></a> </li>
              <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#btc" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Bitcoin</span></a> </li>
              <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#ethereum" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Ethereum</span></a> </li>
              <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#litecoin" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Litecoin</span></a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content tabcontent-border">
              <div class="tab-pane active" id="bank" role="tabpanel">
                <div class="p-20">
                  <form style="text-align: left;">
                    <div class="form-group">
                      <label>Bank Name</label>
                      <input type="text" class="form-control" placeholder="Enter name of Bank">
                    </div>
                    <div class="form-group">
                      <label>Account Name</label>
                      <input type="text" class="form-control" placeholder="Enter name of Account">
                    </div>
                    <div class="form-group">
                      <label>Account Number</label>
                      <input type="text" class="form-control" placeholder="Enter Account Number">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                </div>
              </div>
              <div class="tab-pane  p-20" id="btc" role="tabpanel">
                <form style="text-align: left;">
                  <div class="form-group">
                    <label>BTC Address</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
              </div>
              <div class="tab-pane p-20" id="ethereum" role="tabpanel">
                <form style="text-align: left;">
                  <div class="form-group">
                    <label>ETH Address</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
              </div>
              <div class="tab-pane p-20" id="litecoin" role="tabpanel">
                <form style="text-align: left;">
                  <div class="form-group">
                    <label>Litecoin</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include 'dashboard-footer.html'%}