{% include 'dashboard-header.html'%}

<!-- TradingView Widget BEGIN -->
<div align="center">
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>

    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
      {
        "symbols": [{
            "title": "EUR/USD",
            "proName": "FX_IDC:EURUSD"
          },
          {
            "title": "BTC/USD",
            "proName": "BITSTAMP:BTCUSD"
          },
          {
            "title": "ETH/USD",
            "proName": "BITSTAMP:ETHUSD"
          },
          {
            "description": "LTC/USD",
            "proName": "KRAKEN:LTCUSD"
          },
          {
            "description": "DOGE/USD",
            "proName": "BITTREX:DOGEUSD"
          },
          {
            "description": "BCH/USD",
            "proName": "KRAKEN:BCHUSD"
          }
        ],
        "colorTheme": "dark",
        "isTransparent": false,
        "displayMode": "compact",
        "locale": "en"
      }
    </script>
  </div>
  <div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
      <div class="col-lg-5">
        <div class="accordion">
          <div class="card">
            <h1 class="card-header bg-primary-darken-5 card-title">Bitcoin </h1>
            <div class="row my-2 p-r-15 p-l-15">
              <div class="col-8 text-left">
                <h5 class="text-bold-600 mb-0">Minimum amount:</h5>
              </div>
              <div class="col-4 text-right">
                <p class="text-muted mb-0">$50</p>
              </div>
            </div>

            <div class="row my-2 p-r-15 p-l-15">
              <div class="col-8 text-left">
                <h5 class="text-bold-600 mb-0">Maximum amount:</h5>
              </div>
              <div class="col-4 text-right">
                <p class="text-muted mb-0">$500000</p>
              </div>
            </div>

            <div class="row my-2 p-r-15 p-l-15">
              <div class="col-8 text-left">
                <h5 class="text-bold-600 mb-0">Charges (Fixed):</h5>
              </div>
              <div class="col-4 text-right">
                <p class="text-muted mb-0">$0</p>
              </div>
            </div>

            <div class="row my-2 p-r-15 p-l-15">
              <div class="col-8 text-left">
                <h5 class="text-bold-600 mb-0">Charges (%):</h5>
              </div>
              <div class="col-4 text-right">
                <p class="text-muted mb-0">5%</p>
              </div>
            </div>

            <div class="row my-2 p-r-15 p-l-15">
              <div class="col-8 text-left">
                <h5 class="text-bold-600 mb-0">Duration:</h5>
              </div>
              <div class="col-4 text-right">
                <p class="text-muted mb-0">24 - 48 hourss</p>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sweetalert m-t-15">
                <a class="btn btn-default" href="{% url 'new-withdrawal' %}"><i class="ti-plus"></i>Request Withdrawal</a>
              </div>
            </div>
            <br>

          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-title">
            <h4>Your Withdrawals</h4>

          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Amount</th>
                    <th>Receiving Mode</th>
                    <th>Status</th>
                    <th>Date </th>
                  </tr>
                </thead>
                <tbody>
                    {% for withdrawal in object_list %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td class="color-primary">$ {{ withdrawal.amount }}</td>
                      <td>Bitcoin Wallet</td>
                      <td><span class="badge badge-success{{ deposit.get_label_display }}">{{ withdrawal.status }}</span></td>
                      <td>{{ withdrawal.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>

{% include 'dashboard-footer.html'%}